/* Importing navbar styles */
@import url('../css/sections/navbar.css'); 
@import url('../css/sections/hero.css');
@import url('../css/sections/about.css');

/* Color variables */
:root {
  --primary-dark: #222831;
  --secondary-dark: #393E46;
  --accent-color: #FD7014;
  --light-color: #EEEEEE;
  --font-family: 'Roboto', sans-serif;
}

/* Body */
html, body {
    height: 100%;
    margin: 0;
    font-family: var(--font-family); 
    scroll-behavior: smooth;
}

/* Panels for different sections */
.panel {
    height: 100vh;
    color: var(--light-color); /* Text color */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative; /* Necessary for scroll arrow positioning */
}

.dark { 
    background-color: var(--primary-dark); /* Use Primary Dark */
}

.secondary-dark {
    background-color: var(--secondary-dark); /* Use Secondary Dark */
}

.orange {
    background-color: var(--accent-color); /* Accent color */
}

.purple {
    background-color: var(--secondary-dark); /* Reuse Secondary Dark if you want */
}

.green {
    background-color: var(--light-color); /* Light color */
    color: var(--primary-dark); /* Dark text on light background */
}
.color-accent{
    color: var(--accent-color);
}

/* Section description styling */
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

section h2{
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
}



/* Z-Index handling */
.z-indexing {
    z-index: 0;
}
