.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 200px;
}

.skills, .experience {
    width: 38%; /* Adjust as needed */
    margin: 30px;
}

.toggle-button {
    background-color: var(--accent-color);
    color: var(--light-color);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: var(--secondary-dark);
}

.skill-list, .experience-details {
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: var(--primary-dark);
    border-radius: 5px;
}

.skill-list li {
    padding: 5px 10px;
}

.experience-details {
    padding: 10px;
    background-color: var(--secondary-dark);
    border-radius: 5px;
    color: var(--light-color);
}

.experience-item {
    margin-top: 30px;
}

/* Add scroll functionality for small screens */
@media (max-width: 768px) {
    .about-container {
        padding: 10px 10px; /* Reduce padding for smaller screens */
        flex-direction: column; /* Stack the columns on small screens */
        height: 100vh; /* Set a maximum height for the container */
        overflow-y: auto; /* Add vertical scroll when content overflows */
    }

    .skills, .experience {
        width: 100%; /* Make each section full-width on smaller screens */
        margin: 10px 0;
    }

    .toggle-button {
        font-size: 14px; /* Reduce font size for smaller screens */
        padding: 8px;
    }

    .experience-item {
        margin-top: 20px;
    }
}

/* Media Query for Extra Small Screens (Phones) */
@media (max-width: 480px) {
    .about-container {
        padding: 10px 20px; /* Further reduce padding on phones */
        height: 100vh; /* Set maximum height */
        overflow-y: auto; /* Enable vertical scroll */
    }

    .toggle-button {
        font-size: 13px; /* Adjust button font size for phones */
        padding: 6px;
    }
}
