.about-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 150px;
}

.skills, .experience {
    width: 38%; /* Adjust as needed */
    margin: 30px;
}

.toggle-button {
    background-color: var(--accent-color);
    color: var(--light-color);
    margin-top: 45px ;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.toggle-button:hover {
    background-color: var(--secondary-dark);
    
}


.skill-list, .experience-details {
 
    padding: 10px 0;
    margin: 0;
    list-style: none;
    background-color: var(--secondary-dark);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.skill-list li {
    padding: 5px 10px;
}

.experience-details {
    margin-top: 15px;
    padding: 10px;
    background-color: var(--secondary-dark);
    border-radius: 5px;
    color: var(--light-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.experience-item {
    margin-top: 30px;
}

/* General mobile responsiveness */
@media (max-width: 768px) {
    /* Ensure panels adjust dynamically */
    .panel {
        min-height: 100vh; /* Full viewport height for each panel */
        height: auto; /* Allow panels to expand based on content */
        overflow-y: auto; /* Enable scrolling within panels */
        padding: 20px; /* Add some padding for content */
    }
    .skills, .experience {
        width: 100%; /* Make each section full-width on smaller screens */
        margin: 10px 0;
    }

    /* Flexbox adjustments for stacking content vertically */
    .about-container {
        flex-direction: column; /* Stack items vertically */
        padding: 10px; /* Reduce padding */
        height: auto; /* Remove fixed height */
    }

    /* Buttons and text adjustments for smaller screens */
    section h2 {
        font-size: 24px; /* Smaller font size for headings */
        margin-top: 20px;
    }

    .toggle-button {
        font-size: 14px; /* Smaller font size for buttons */
        padding: 8px;
    }

    .experience-item, .skill-category {
        margin-top: 20px; /* Adjust spacing */
    }
}

/* Extra small devices (Phones) */
@media (max-width: 480px) {
    .panel {
        min-height: 100vh; /* Full viewport height */
        height: auto; /* Allow dynamic height */
        overflow-y: auto; /* Enable internal scrolling */
        padding: 10px 20px; /* Reduce padding on mobile */
    }

    .about-container {
        padding: 5px; /* Further reduce padding for small screens */
    }

    section h2 {
        font-size: 18px; /* Smaller font size for phones */
        margin-top: 10px;
    }

    .toggle-button {
        font-size: 12px; /* Adjust button size */
        padding: 6px;
    }
}
