.nav-container {
    display: flex;
    justify-content: space-between; /* Spreads logo and nav */
    align-items: center;
    position: fixed; /* Keeps navbar pinned */
    top: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--primary-dark); /* Navbar background */
    z-index: 1000; /* Keeps it on top of other elements */
   
  }
  
  .logo {
    flex: 1; /* Aligns logo on the left */
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    color: var(--accent-color);
  }
  
  nav {
    flex: 1;
    display: flex;
    justify-content: center; /* Center the nav items */
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px; /* Adds spacing between nav items */
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 16px;
  }
  